@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor {
  text-align: center;
}

.div-table {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  text-align: center;
}

.formulario {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  text-align: center;
  margin: auto;
}

.formulario label {
  display: block;
  margin-bottom: 10px;
}

.formulario input,
textarea, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulario button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.formulario button:hover {
  background-color: #45a049;
}


hr {
  margin: 20px;
}

h1 {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
}

.boton-options {
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: inline;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.boton-eliminar {
  background-color: #dc3545;
  color: #fff;
}

.boton-editar {
  background-color: #3551dc;
  color: #fff;
}

.boton-cancelar {
  background-color: #878787 !important;
  color: #fff !important;
  margin-right: 5px;
  display: inline !important;
  padding: 12px;
  border-radius: 5px;
}

.boton-cancelar:hover {
  cursor: pointer;
}

.boton-pagina {
  background-color: #418fe3;
  color: #fff;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: inline;
  align-items: center;
  justify-content: center;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none; /* Elimina los estilos nativos del navegador */
}

/* Estilo al pasar el ratón sobre el select */
select:hover {
  border-color: #666;
}

/* Estilo al enfocar el select */
select:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.banner {
  background-color: #3498db; 
  color: #fff; 
  text-align: center;
  padding: 10px; 
}

.banner-success {
  background-color: #20ac8d; 
  color: #fff; /* Color del texto */
  text-align: center;
  padding: 5px; /* Espaciado interno del banner */
}